<div className="container">
  <div className="row">
    <div className="col-lg-12">
      <p className="copyright text-muted small">Copyright &copy; PinCafe 2016. All Rights Reserved</p>
    </div>
  </div>
</div>
