<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>

    <header>
    </header>

    <main>
      <input type="text" placeholder="Search Place"/>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
