<!DOCTYPE html>
<html>
  <head>
    <title><%- keyword %> - PinCafe</title>
    <% include ../partials/head %>
    <link href="/css/search.css" rel="stylesheet"/>

  </head>
  <body>

    <header>
      <% include ../partials/header %>
    </header>

    <main>

      <script>
      </script>

      <!-- content -->
      <div class="container-fluid">
        <div class="row">

          <!-- lefthand panel -->
          <div class="col-md-7 col-sm-12 content-panel left-panel">

            <div class="container-fluid filter-container">
              <div class="row">

                <div class="col-md-2">
                  <p class="option-title"><b>需求</b></p>
                </div>

                <div class="col-md-10">

                  <div class="row">

                    <div class="col-md-3">
                      <div data-val="has-wifi" class="row option-box option-box-utility">
                        <div class="col-md-3">
                          <img src="/img/item_wifi.png"/>
                        </div>
                        <div class="col-md-9">
                          <p>Wifi</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div data-val="has-power" class="row option-box option-box-utility">
                        <div class="col-md-3">
                          <img src="/img/item_power.png"/>
                        </div>
                        <div class="col-md-9">
                          <p>插座</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div data-val="has-time-limitation" class="row option-box option-box-utility">
                        <div class="col-md-3">
                          <img src="/img/item_time.png"/>
                        </div>
                        <div class="col-md-9">
                          <p>限時</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div data-val="is-reservation-available" class="row option-box option-box-utility">
                        <div class="col-md-3">
                          <img src="/img/item_booking.png"/>
                        </div>
                        <div class="col-md-9">
                          <p>訂位服務</p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>

            <hr class="invisible"/>

            <div class="container-fluid filter-container">

              <div class="row">

                <div class="col-md-2">
                  <p class="option-title"><b>想去的時間</b></p>
                </div>

                <div class="col-md-10">

                  <div class="row">

                    <div class="col-md-4">
                      <div data-val="now" class="row option-box option-box-time enabled">
                        <p>現在</p>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div data-val="specific" class="row option-box option-box-time" data-toggle="modal" data-target="#specific-time-modal">
                        <p id="specific-time-text">指定時間</p>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div data-val="any" class="row option-box option-box-time">
                        <p>不限</p>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>

            <hr class="invisible"/>

            <div class="container-fluid filter-container">

              <div class="row">

                <div class="col-md-2">
                  <p class="option-title"><b>餐點</b></p>
                </div>

                <div class="col-md-10">

                  <div class="row">

                    <div class="col-md-3">
                      <div data-val="brunch" class="row option-box option-box-foodtype">
                        <p>早午餐</p>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div data-val="meal" class="row option-box option-box-foodtype">
                        <p>正餐</p>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div data-val="light-food" class="row option-box option-box-foodtype">
                        <p>輕食</p>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div data-val="snack" class="row option-box option-box-foodtype">
                        <p>點心</p>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>

            <hr />

            <div class="container-fluid filter-container sorting-container">

              <div class="row">

                <div class="col-md-2">
                  <p class="option-title"><b>排序方法</b></p>
                </div>

                <div class="col-md-10">

                  <div class="row">

                    <div class="col-md-3">
                      <div class="row option-box">
                        <select id="pincafe-sorting-method" class="form-control">
                          <option value="rating">評價</option>
                          <option value="distance">距離</option>
                        </select>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>

            <!-- result list -->
            <div class="container-fluid result-list-container">
              <div class="row">


                <!-- result item -->
                <div class="col-md-6">

                  <div class="thumbnail">
                    <img class="thumbnail-image" src="/img/img_1.jpg" alt=""/>
                    <div class="caption">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <h3><a href="">極簡咖啡館</a></h3>
                            <h4>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                              <span class="rating-count">(143)</span>
                            </h4>
                          </div>
                          <div class="col-md-6 right-col">
                            <img class="icon-image" src="/img/item_wifi.png"/>
                            <img class="icon-image" src="/img/item_power.png"/>
                            <img class="icon-image" src="/img/item_time.png"/>
                            <img class="icon-image" src="/img/item_quite.png"/>
                            <img class="icon-image" src="/img/item_booking.png"/>
                            <br />
                            <!-- tags -->
                            <div class="row">
                              <div class="tag-container">
                                <ul class="pager">
                                  <li><a href="#">#安靜</a></li>
                                  <li><a href="#">#明亮</a></li>
                                  <li><a href="#">#早午靜</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>



                <!-- result item -->
                <div class="col-md-6">

                  <div class="thumbnail">
                    <img class="thumbnail-image" src="/img/img_2.jpg" alt=""/>
                    <div class="caption">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <h3><a href="">這是咖啡</a></h3>
                            <h4>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                              <span class="rating-count">(120)</span>
                            </h4>
                          </div>
                          <div class="col-md-6 right-col">
                            <img class="icon-image" src="/img/item_wifi.png"/>
                            <img class="icon-image" src="/img/item_power.png"/>
                            <img class="icon-image" src="/img/item_time.png"/>
                            <img class="icon-image" src="/img/item_quite.png"/>
                            <img class="icon-image" src="/img/item_booking.png"/>
                            <br />
                            <!-- tags -->
                            <div class="row">
                              <div class="tag-container">
                                <ul class="pager">
                                  <li><a href="#">#安靜</a></li>
                                  <li><a href="#">#明亮</a></li>
                                  <li><a href="#">#早午靜</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>




                <!-- result item -->
                <div class="col-md-6">

                  <div class="thumbnail">
                    <img class="thumbnail-image" src="/img/img_3.jpg" alt=""/>
                    <div class="caption">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <h3><a href="">City Cafe</a></h3>
                            <h4>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                              <span class="rating-count">(108)</span>
                            </h4>
                          </div>
                          <div class="col-md-6 right-col">
                            <img class="icon-image" src="/img/item_wifi.png"/>
                            <img class="icon-image" src="/img/item_power.png"/>
                            <img class="icon-image" src="/img/item_time.png"/>
                            <img class="icon-image" src="/img/item_quite.png"/>
                            <img class="icon-image" src="/img/item_booking.png"/>
                            <br />
                            <!-- tags -->
                            <div class="row">
                              <div class="tag-container">
                                <ul class="pager">
                                  <li><a href="#">#安靜</a></li>
                                  <li><a href="#">#明亮</a></li>
                                  <li><a href="#">#早午靜</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>




                <!-- result item -->
                <div class="col-md-6">

                  <div class="thumbnail">
                    <img class="thumbnail-image" src="/img/img_4.jpg" alt=""/>
                    <div class="caption">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <h3><a href="">不錯喝咖啡</a></h3>
                            <h4>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                              <span class="rating-count">(42)</span>
                            </h4>
                          </div>
                          <div class="col-md-6 right-col">
                            <img class="icon-image" src="/img/item_wifi.png"/>
                            <img class="icon-image" src="/img/item_power.png"/>
                            <img class="icon-image" src="/img/item_time.png"/>
                            <img class="icon-image" src="/img/item_quite.png"/>
                            <img class="icon-image" src="/img/item_booking.png"/>
                            <br />
                            <!-- tags -->
                            <div class="row">
                              <div class="tag-container">
                                <ul class="pager">
                                  <li><a href="#">#安靜</a></li>
                                  <li><a href="#">#明亮</a></li>
                                  <li><a href="#">#早午靜</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>




                <!-- result item -->
                <div class="col-md-6">

                  <div class="thumbnail">
                    <img class="thumbnail-image" src="/img/img_2.jpg" alt=""/>
                    <div class="caption">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <h3><a href="">好喝咖啡</a></h3>
                            <h4>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                              <span class="rating-count">(20)</span>
                            </h4>
                          </div>
                          <div class="col-md-6 right-col">
                            <img class="icon-image" src="/img/item_wifi.png"/>
                            <img class="icon-image" src="/img/item_power.png"/>
                            <img class="icon-image" src="/img/item_time.png"/>
                            <img class="icon-image" src="/img/item_quite.png"/>
                            <img class="icon-image" src="/img/item_booking.png"/>
                            <br />
                            <!-- tags -->
                            <div class="row">
                              <div class="tag-container">
                                <ul class="pager">
                                  <li><a href="#">#安靜</a></li>
                                  <li><a href="#">#明亮</a></li>
                                  <li><a href="#">#早午靜</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>




                <!-- result item -->
                <div class="col-md-6">

                  <div class="thumbnail">
                    <img class="thumbnail-image" src="/img/img_1.jpg" alt=""/>
                    <div class="caption">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <h3><a href="">極簡咖啡館</a></h3>
                            <h4>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                              <span class="rating-count">(8)</span>
                            </h4>
                          </div>
                          <div class="col-md-6 right-col">
                            <img class="icon-image" src="/img/item_wifi.png"/>
                            <img class="icon-image" src="/img/item_power.png"/>
                            <img class="icon-image" src="/img/item_time.png"/>
                            <img class="icon-image" src="/img/item_quite.png"/>
                            <img class="icon-image" src="/img/item_booking.png"/>
                            <br />
                            <!-- tags -->
                            <div class="row">
                              <div class="tag-container">
                                <ul class="pager">
                                  <li><a href="#">#安靜</a></li>
                                  <li><a href="#">#明亮</a></li>
                                  <li><a href="#">#早午靜</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>


              </div>
            </div>

          </div>

          <!-- righthand map -->
          <div class="col-md-5 col-sm-12 content-panel right-panel">
            <div id="map"></div>
          </div>

        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="specific-time-modal" tabindex="-1" role="dialog" aria-labelledby="specific-time-label">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="specific-time-label">想去的時間</h4>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">

                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-12">
                        <select id="specific-time-weekday" class="form-control">
                          <option value="0">星期日</option>
                          <option value="1">星期一</option>
                          <option value="2">星期二</option>
                          <option value="3">星期三</option>
                          <option value="4">星期四</option>
                          <option value="5">星期五</option>
                          <option value="6">星期六</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-3 label-text">
                        <span>從：</span>
                      </div>
                      <div class="col-md-9">
                        <select id="specific-time-start-hour" class="form-control">
                          <option value="0">00:00</option>
                          <option value="1">01:00</option>
                          <option value="2">02:00</option>
                          <option value="3">03:00</option>
                          <option value="4">04:00</option>
                          <option value="5">05:00</option>
                          <option value="6">06:00</option>
                          <option value="7">07:00</option>
                          <option value="8">08:00</option>
                          <option value="9">09:00</option>
                          <option value="10">10:00</option>
                          <option value="11">11:00</option>
                          <option value="12">12:00</option>
                          <option value="13">13:00</option>
                          <option value="14">14:00</option>
                          <option value="15">15:00</option>
                          <option value="16">16:00</option>
                          <option value="17">17:00</option>
                          <option value="18">18:00</option>
                          <option value="19">19:00</option>
                          <option value="20">20:00</option>
                          <option value="21">21:00</option>
                          <option value="22">22:00</option>
                          <option value="23">23:00</option>
                        </select>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-3 label-text">
                        <span>到：</span>
                      </div>
                      <div class="col-md-9">
                        <select id="specific-time-end-hour" class="form-control">
                          <option value="0">00:00</option>
                          <option value="1">01:00</option>
                          <option value="2">02:00</option>
                          <option value="3">03:00</option>
                          <option value="4">04:00</option>
                          <option value="5">05:00</option>
                          <option value="6">06:00</option>
                          <option value="7">07:00</option>
                          <option value="8">08:00</option>
                          <option value="9">09:00</option>
                          <option value="10">10:00</option>
                          <option value="11">11:00</option>
                          <option value="12">12:00</option>
                          <option value="13">13:00</option>
                          <option value="14">14:00</option>
                          <option value="15">15:00</option>
                          <option value="16">16:00</option>
                          <option value="17">17:00</option>
                          <option value="18">18:00</option>
                          <option value="19">19:00</option>
                          <option value="20">20:00</option>
                          <option value="21">21:00</option>
                          <option value="22">22:00</option>
                          <option value="23">23:00</option>
                        </select>
                      </div>
                    </div>
                  </div>



                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary" id="specific-time-confirm" data-dismiss="modal">確定</button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
    </footer>

    <% include ../partials/js-essentials %>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyDiw_0Dnug9zP27jioy8ezTik5aF2Kw83o" async defer></script>
    <script type="text/javascript" src="/js/search.js"></script>
    <script type="text/javascript">
      setKeyword('<%- keyword %>');
    </script>

</body>
</html>
